@import "materialize-css";

.teacherCol {
  min-width: max-content;
  max-height: 85vh;
  overflow-y: auto;
}
.groupCol{
  min-width: max-content;
  max-height: 85vh;
  overflow-y: auto;
}
.disciplineCol {
  min-width: max-content;
  max-height: 85vh;
  overflow-y: auto;
}

